<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center">
      <h5>Bienvenido Alumno</h5>
    </div>  </ion-toolbar>
</ion-header>


<ion-content >
  
  <ion-header>
    <ion-toolbar>
        <img alt="Silhouette of mountains" src="/assets/alumnos.png" />
    </ion-toolbar>
  </ion-header>


  <form>
    <ion-item>
        <ion-label position="floating" color="primary">Email: </ion-label>  
        <ion-input type="email"
        name="email" 
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        required>
      </ion-input>
    </ion-item>
      
    <ion-item>
      <ion-label position="floating" color="primary">Password: </ion-label>
      <ion-input type="password"
          name="password" 
          required>
      </ion-input>  
    </ion-item>
    
    <ion-button slot="start" href="/login">
      <ion-label>registrarse</ion-label>
    </ion-button>

    <ion-button slot="end" href="/reciveqr">
      <ion-label>ingresar</ion-label>
    </ion-button> 
    
  </form>
</ion-content>
