<ion-header class="ion-padding">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>


    </ion-buttons>
      
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h3>Acerque su camara al codigo QR</h3>
  </div>

  <ion-card>
    <ion-card-content class="ion-text-center">
      QR
    </ion-card-content>
  </ion-card>

</ion-content>
