<ion-header class="ion-padding">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>


    </ion-buttons>
    <ion-thumbnail slot="end" >
      <img src="/assets/logoduoc.jpg" />
    </ion-thumbnail>      
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h3>Su codigo QR para la clase de hoy es:</h3>
  </div>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-icon name="qr-code"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
    generar codigo QR
  </ion-button>

</ion-content>
