<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-header>
    <ion-toolbar>
        <img alt="Silhouette of mountains" src="/assets/login1.jpg" />
    </ion-toolbar>
  </ion-header>

      <div class="ion-text-center">
        <h3 class="Texto-inicio">"RegistrAPP"</h3> 
      </div>

        <form [formGroup]="formularioLogin">

          <ion-item>
            <ion-label position="floating">Correo: </ion-label>
            <ion-input type="email" formControlName="correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password: </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </form>
        <br>
        <ion-button color="success"(click)="Ingresar()" expand="block" fill="outline" shape="round" >
          Ingresar
        </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button [routerLink] = "['/registro']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
